@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Roboto+Slab');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size:350%;
    margin: 30px 10px 0px 10px;
    text-align: left;
}

/*Header Bild + Text */
header {
    font-size: 700%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url(../pic/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3% 10% 20% 10%;
    text-shadow: 3px 3px 2px black;
    font-family: 'Lobster', cursive;
}

#header a {
    text-decoration: none;
}

/*Schwarz-transparenter Website Body */
#websitebody {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1340px;
    margin: auto;
}

/*Navigationsleiste*/

/*Farbe Menüleiste ohne Hover */
nav {
    overflow: hidden;
    background-color: rgb(227, 193, 0); /*Farbe Schloss Seggau Logo */
    width: 100%;
}

nav a {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 20px 0px;
    width: calc(1340px/4);
    margin: 0 auto;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
/*    padding: 0px 16px;*/
    color: black;
}

/*Hover in Menüleiste */
nav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(198, 168, 0);
}

/*Farbe im Dropdown ohne Hover*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(227, 193, 0);
    min-width: 160px;
    z-index: 1;
    margin-top: 70px;
}

.dropdown-content a {
    float: none;
    color: black;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    width: calc(1340px/4);
}

/*Hover im Dropdown*/
.dropdown-content a:hover {
    background-color: rgb(198, 168, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Media Query für Menüleiste */
@media (max-width: 1814px){
    nav a,
    nav .dropdown{
        width: 100%;
    }
}


/*Ende Navigationsleiste*/

/* UNKLAR OB BENÖTIGT

.submenu a:hover {
    background-color: rgb(255, 106, 0);
    color: black;
}*/

a {
    color: white;
}
/* UNKLAR OB BENÖTIGT
.submenu {
    border: 1px solid black;
    margin: 10px;
    float: left;
    background-color: white;
    border-radius: 20px;
    border: solid black;
}
*/

.active {
    text-decoration: underline;
}

/*Hintergrundbild*/
body {
    background-color: white;
    margin: 10px 10% 10px 10%;
    background-image: url(../pic/bckgrnd1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto+Slab', serif;
}

.bold {
    font-weight: bold;
}

article,
section {
    color: white;
    font-size: 21px;
    margin: 0px 10px;
}

h2 a {
    text-decoration: none;
}
h3 {
    margin: 15px -2px;
}

.bildfullwidth {
    margin-top: 15px;
    width: 100%;
}

.bilderreihe {
    width: 100%;
    margin: auto;
    text-align: center;
}

.drittelbild  {
    width: 32%;
    margin: 0px 2px;
}
.drittelbildklein {
    width: 30.9%;
    margin: 0px 2px;
}
.halbbild {
    margin: 0px 2px;
    width: 68.1%;
}
.bildcaption {
    text-align: center;
    font-size: 85%;
    padding-bottom: 5px;
}

#footer_screen {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1340px;
    margin: 10px auto;
}
/* AKTUELL NICHT BENÖTIGT
footer h4 {
    float: left;
    padding-right: 5px;
}
*/

/*Menü im Footer*/
#footermenu {
    padding: 0px;
    text-transform: uppercase;
}
#footermenu ul {
    list-style: none;
    padding: 5px 0;
    text-align: center;
}
#footermenu ul li {
    display: inline;
}
#footermenu ul li a{
    margin: 0px 15px;
    text-decoration: underline;
    font-weight: 400;
}
#footertext {
    text-align: center;
    margin: auto;
    display: block;
    color: white;
}
#footer_print {
    display:none;
}

/*FH Adresse im Impressum*/
#adress div {
    display: inline-block;
    width: 40%;
    margin: 0px 5px;
    vertical-align: top;
}

/*index.html*/
#home {
    margin-top: 10px;
}
#home div {
    display: inline-block;
    width: 48%;
    margin: 0px 10px;
    padding-right: 5px;
    vertical-align: top;
}

/*Google Maps*/
#mapss,
#mapfh {
    border: none;
}